/* Font style */
body{
    background-color: #ebebf1;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Navber Style */
nav {
    display: flex;
    align-items: center;   
    justify-content: space-between;
    margin: 30px 150px 10px 150px;
    
}
nav ul {
    display: flex;
    gap: 50px;
    
}
nav ul li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.new-font{
    color: #8987A1;
    font-weight: 500;
    
}
.new-font1{
    font-weight: 400;
    color: black;
}
.new-font2{
    color: #E95A08;
}
.new-font3{
    color: rgba(0, 0, 0, 0.5);
}
/* Banner style */
.banner{
    display: flex;
    align-items: center;
    margin: 100px 150px;

}
 .banner-title{
    font-size: 65px;
    font-weight: bold;
   }
  .banner-description{
    font-size: 22px;
    font-weight: 400;
  } 
  /* Plant Section */
  .plant{
    margin: 100px 150px;
  }
  .plant-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  .plant-description{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
  .card{
    width: 250px;
  }
  .card img{
    width: 250px;
  }
  .name{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  .price{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
.btn-primary{
    background-color: #E95A08;
    color: #fff;
    width: 250px;
    padding: 19px 26px;
    font-size: 16px;
    font-weight: 500;
}
.card-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;}
    .badge img{
      width: 286px;
      margin-bottom: 0px;
      margin-left: 540px;
      position: relative;
      
    }
    .Plants-lover{
      display: flex;
      justify-content: space-between;
      margin: -130px 150px 0px 150px;
      gap: 60px;
      

    }
    .plant-lover{
      font-size: 50px;
      font-weight: bold;
    }
    .plant-list{
      font-size: 22px;
      font-weight: 400;
    }
    .deals-title{
      font-size: 50px;
      font-weight: bold;
      text-align: center;
      margin: 100px 150px 0px 150px;
    }
    .deals-description{
      font-size: 22px;
      font-weight: 400;
      text-align: center;
      margin: 20px 150px 100px 150px;
    }
    .main-discount{
      background-image: url(/image/deal-bloom.png);
      width: 360px;
      height: 200px;
      border-radius: 10px;
    }
    .main-discount2{
      background-image: url(/image/deal-ana.png);
      width: 360px;
      height: 200px;
      border-radius: 10px;
    }
     .discount2{
      background-image: url(/image/deal-zabo.png);
      width: 750px;
      height: 420px;
      border-radius: 10px;
    }
    .discount-head{
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      padding: 70px 60px 0px 70px;
    }
    .discount-link{
      font-size: 20px;
      font-weight: bold;
      color: #fff;
      padding: 70px 0px 0px 120px;
    }
    .discount{
      margin: 0px 20px 10px 100px;
    }
    .deals-discount{
      display: flex;
      align-items: center;
    }
     .discount-head2{
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      padding: 70px 60px 0px 200px;

    }
    .discount-link2{
      font-size: 40px;
      font-weight: bold;
      color: #fff;
      padding: 70px 60px 0px 300px;
    }
    /* .branch-title{
      text-align: center;
    } */
    .branch{
      font-size: 50px;
      font-weight: bold;
      color: #fff;
      padding: 200px 150x;
    }
    input{
      width: 650px;
      height: 50px;
    }
    .btn{
      background-color: #E95A08;
      width: 180px;
      height: 50px;
      color: #fff;
    }
    .branch-title{
      background-image: url(/image/news-letter-bg.png);
      width: 100%;
      height: 530px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .branch{
      padding-left: 100px;
    }
     .final-item{
      display: flex;
      justify-content: space-between;
      max-width: 1170px;
      margin: 100px 150px;
      gap: 20px;     
    }
    .logo-sec{
      width: 360px;
      height: 180px;
    }
    .all-link ul{
      list-style: none;
      
    }
    .all-link li a{
      text-decoration: none;
    }
    .all-link ul{
      display: grid;
      grid-template-columns: repeat(2, auto);
      gap: 40px 40px;
    }
    .contact-info img{
      margin: 10px;
    }
    .logo-description{
      font-size: 22px;
      font-weight: 400;
    }
    .nw{
      font-size: 16px;
      font-weight: 400;
    }
/* Responsive Style */
@media screen and (max-width: 576px) {
    .navbar-item{
        display: none;
    }
    nav{
        margin: 0 auto;
    }
    /* .banner{
       flex-direction: column;
    } */
   .banner{
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
   }
   .banner-image img{
    width: 400px;
   }
    .banner-item{
        width: 100%;
        text-align: left;
    }
    .plant{
        margin: 0;
    }
    .card, .btn-primary, .card img{
        width: 180px;
    }
    .card-main{
        grid-template-columns: repeat(2, 1fr);
    }
    .badge{
      display: none;
    }
    .Plants-lover{
      margin: 100px 0px;
      flex-direction: column;
    }
    .image img{
      width: 400px;
    }
    .plant-all{
      margin-top: 0px;
    }
    .deals-title, .deals-description{
      margin: 0;
    }
    .deals-discount{
      flex-direction: column;
      
    }
    .main-discount, .main-discount2, .discount2{
      margin: 0 50px 0 0 ;
    }
    .discount-head2{
      font-size: 20px;
      font-weight: bold;
      padding: 50px 30px 0px 70px;
    }
    .discount2{
      width: 360px;
      height: 200px;
      margin-left: 65px;
      
    }
    .discount-link2{
      font-size: 20px;
      font-weight: bold;
      padding: 10px 30px 10px 120px;
    }
    .branch{
      font-size: 20px;
      font-weight: bold;
    }
    input{
      width: 200px;
    }
    .btn{
      width: 100px;
    }
    input{
      margin-left: 50px;
    }
    .branch-title{
      width: 400px;
      height: 275px;
    }
   .final-item{
    flex-direction: column;
    margin: 10px;
   }
   .contact-info{
    display: flex;
   }
   .all-link ul{
    grid-template-columns: none;
    padding: 0;
   }
}
