/* Font style */
body{
    background-color: #ebebf1;
}
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Navber Style */
nav {
    display: flex;
    align-items: center;   
    justify-content: space-between;
    margin: 30px 150px 10px 150px;
    
}
nav ul {
    display: flex;
    gap: 50px;
    
}
nav ul li{
    list-style: none;
    
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.new-font{
    color: #8987A1;
    font-weight: 500;
    
}
.new-font1{
    font-weight: 400;
    color: black;
}
.new-font2{
    color: #E95A08;
}
.new-font3{
    color: rgba(0, 0, 0, 0.5);
}
/* Banner style */
.banner{
    display: flex;
    align-items: center;
    margin: 100px 150px;

}
 .banner-title{
    font-size: 65px;
    font-weight: bold;
   }
  .banner-description{
    font-size: 22px;
    font-weight: 400;
  } 
  /* Plant Section */
  .plant{
    margin: 100px 150px;
  }
  .plant-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
  }
  .plant-description{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
  }
  .card{
    width: 250px;
  }
  .card img{
    width: 250px;
  }
  .name{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  .price{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
.btn-primary{
    background-color: #E95A08;
    color: #fff;
    width: 250px;
    padding: 19px 26px;
    font-size: 16px;
    font-weight: 500;
}
.card-main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;}
/* Responsive Style */
@media screen and (max-width: 576px) {
    .navbar-item{
        display: none;
    }
    nav{
        margin: 0 auto;
    }
    /* .banner{
       flex-direction: column;
    } */
   .banner{
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
   }
   .banner-image img{
    width: 400px;
   }
    .banner-item{
        width: 100%;
        text-align: left;
    }
    .plant{
        margin: 0;
    }
    .card, .btn-primary, .card img{
        width: 180px;
    }
    .card-main{
        grid-template-columns: repeat(2, 1fr);
    }

}
